<!-- Navbar -->
<%- include ('./navbar.ejs') %>

    <!-- Card Section -->
    <div class="card-container">
        <% blogs.forEach(function(blog){ %>
            <div class="card">
                <img src="/uploads/<%= blog.image %>" alt="Card Image">
                <div class="card-title">
                    <%= blog.title %>
                </div>
                <a href="/blog/<%- blog.id %>">Read more..</a>
            </div>
            <% }) %>
    </div>
    </body>

    </html>